
@using NoteSharingApp.Entities
@model List<Note>

@{
    ViewBag.Title = "Category" + Model == null ? Model.FirstOrDefault().Category.ToString() : "";
}



<div class="row mt-4">
    <!--Categories-->
    @Html.Partial("_CategoryPartial")

    <div class="col-md-10">
        <div class="row ">
            <!--Entries-->
            @foreach (var Note in Model)
            {
                <div class="col-md-4 mb-4">
                    <div class="card text-bg-dark mb-4" style="min-height:20vh">
                        <h5 class="card-header">@Note.Owner.Username</h5>
                        <div class="card-body" style="height:20vh">

                            <p class="card-text overflow-auto" style="height:15vh">@Note.Text</p>
                        </div>
                        <div>
                            <p class="col-5 card-subtitle mb-2 ms-4 text-body-secondary  float-start fa fa-heart-o fs-5"> @Note.LikeCount</p>
                            <p class=" col-6 card-subtitle mb-1 me-2 text-body-secondary float-end text-end" style="font-size:small;"><span class="fa fa-clock-o"></span> @Note.ModifiedOn.ToString("dddd, dd MMMM yyyy hh:mm tt")</p>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</div>